
@{
    ViewBag.Title = "Flight";
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<section>
    <div class="row" style="background-color: #fff">
        <div class="col-md-12">
            <h1 style="text-align: center; color: #cccccc">@ViewBag.Title</h1>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="search_place">Origin</label>
                <input type="text" id="origin_place" placeholder="from" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="search_place">Destination</label>
                <input type="text" id="search_place" placeholder="to" class="form-control"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="check_in_date">Check-in</label>
                <br/>
                <input id="check_in_date" type="text" placeholder="Arrival date" class="form-control datepicker"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="check_out_date">Check-out</label>
                <br/>
                <input id="check_out_date" class="form-control datepicker" placeholder="Departure date" type="text"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" style="margin-top: 35px">
                <input type="button" id="btn_accom_submit" style="height: 45px" value="Search" class="btn btn-block btn-success"/>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="booking_results">
                <br />
                <table id="result_table" class="table table-hover display" style="display: none" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Review</th>
                            <th>Currency</th>
                            <th>Price</th>
                            <th>Flight</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</section>


