@model TravelWebApp.Models.BudgetModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}

<h2>Budget - view</h2>
<br />

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back", "Index", "Budget")
</div>