<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fourier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="../../Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/animate.css">

    <link rel="stylesheet" href="../../Content/owl.carousel.min.css">
    <link rel="stylesheet" href="../../Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../Content/magnific-popup.css">

    <link rel="stylesheet" href="../../Content/aos.css">

    <link rel="stylesheet" href="../../Content/ionicons.min.css">

    <link rel="stylesheet" href="../../Content/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../../Content/jquery.timepicker.css">
    <link href="../../Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../Content/flaticon.css">
    <link rel="stylesheet" href="../../Content/icomoon.css">
    <link rel="stylesheet" href="../../Content/style.css">
    <link rel="stylesheet" href="../../Content/search-results.css" />
</head>
<body>
    <div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="booking" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <i class="fa fa-spinner fa-spin" style="font-size: 50px; margin-left: 200px; margin-top: 150px"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-rose ftco-navbar-light" id="ftco-navbar" >
    <div class="container">
        <a class="navbar-brand" href="/"><span>Fourier</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/accommodation" class="nav-link">Accommodation</a></li>
                <li class="nav-item"><a href="/flight" class="nav-link">Flight</a></li>
                <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/home/contact" class="nav-link">Contact</a></li>

            </ul>
        </div>
    </div>
</nav>
<br />
    <!-- END nav -->
    <section class="ftco-section" style="background-image: url('../../Images/destination-4.jpg');">
        <div class="container-fluid">
            <div class="row" style="padding-left: 170px">
                <div class="project">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <aside class="col-sm-4 col-md-3 col-lg-3 htlfndr-sidebar-left" id="aside" style="display: none" role="complementary">
                <div class="htlfndr-modify-search-aside widget">
                    <h3 style="background-color: transparent"> Search</h3>
                    <div class="htlfndr-widget-content">
                        <form name="search-hotel" id="search-hotel">
                            <label for="htlfndr-city" class="htlfndr-input-label">Your destination</label>
                            <div id="htlfndr-input-1" class="htlfndr-input-wrapper"> <input type="text" name="htlfndr-city" id="search_place" class="form-control" placeholder="Enter city, region"> </div>
                            <div class="htlfndr-float-input first-float"> <label for="htlfndr-date-in" class="htlfndr-input-label">Check in</label> <div id="htlfndr-input-date-in" class="htlfndr-input-wrapper"> <input type="text" name="htlfndr-date-in" id="check_in_date" class="form-control datepicker"> <button type="button" class="htlfndr-clear-datepicker"></button> </div> </div>
                            <div class="htlfndr-float-input"> <label for="htlfndr-date-out" class="htlfndr-input-label">Check out</label> <div id="htlfndr-input-date-out" class="htlfndr-input-wrapper"> <input type="text" name="htlfndr-date-out" id="check_out_date" class="form-control datepicker"> <button type="button" class="htlfndr-clear-datepicker"></button> </div> </div>
                            <section class="htlfndr-select-block">
                                <div class="htlfndr-input-wrapper htlfndr-small-select">
                                    <label for="htlfndr-room-button" class="htlfndr-input-label">Room</label>
                                    <select name="htlfndr-room" id="htlfndr-room" class="form-control dropdown" style="display: block;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="htlfndr-input-wrapper htlfndr-small-select">
                                    <label for="htlfndr-adult-button" class="htlfndr-input-label">Adult</label>
                                    <select name="htlfndr-adult" id="htlfndr-adult" class="form-control dropdown" style="display: block;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="htlfndr-input-wrapper htlfndr-small-select">
                                    <label for="htlfndr-kids-button" class="htlfndr-input-label">Kids</label>
                                    <select name="htlfndr-kids" id="htlfndr-kids" class="form-control dropdown" style="display: block;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </section>
                            <div class="form-group">
                                <button id="btn_accom_submit" type="button" style="height: 45px; width: 100%" class="btn btn-outline-success"><i class="fa-hotel"></i> Search</button>
                            </div>

                        </form>
                    </div>
                </div>
            </aside>
            <div class="col-sm-8">
                <div id="booking_results">
                    <br />
                </div>
            </div>
        </div>

    </div>


    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="project">

                </div>
            </div>

        </div>
    </section>

    <section class="ftco-subscribe" style="background-image: url('/images/bg_1.jpg');">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 text-wrap text-center heading-section ftco-animate">
                        <h2>Subcribe to our Newsletter</h2>
                        <div class="row d-flex justify-content-center mt-4 mb-4">
                            <div class="col-md-10">
                                <form action="#" class="subscribe-form">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" placeholder="Enter email address">
                                        <input type="submit" value="Subscribe" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-footer-2 ftco-section" id="contact">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Fourier</h2>
                        <p>Enhancing communication as well as journey in the tourism sphere.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Infromation</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Online Enquiry</a></li>
                            <li><a href="#" class="py-2 d-block">General Enquiries</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Refund Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Call Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Experience</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Adventure</a></li>
                            <li><a href="#" class="py-2 d-block">Hotel and Restaurant</a></li>
                            <li><a href="#" class="py-2 d-block">Beach</a></li>
                            <li><a href="#" class="py-2 d-block">Nature</a></li>
                            <li><a href="#" class="py-2 d-block">Camping</a></li>
                            <li><a href="#" class="py-2 d-block">Party</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> <a href="http:/www.mas-soluxions.co.za" target="_blank">Ongayena Consulting</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="../../Scripts/jquery.min.js"></script>
    <script src="../../Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="../../Scripts/popper.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/jquery.easing.1.3.js"></script>
    <script src="../../Scripts/jquery.waypoints.min.js"></script>
    <script src="../../Scripts/jquery.stellar.min.js"></script>
    <script src="../../Scripts/owl.carousel.min.js"></script>
    <script src="../../Scripts/jquery.magnific-popup.min.js"></script>
    <script src="../../Scripts/aos.js"></script>
    <script src="../../Scripts/jquery.animateNumber.min.js"></script>
    <script src="../../Scripts/bootstrap-datepicker.js"></script>
    <script src="../../Scripts/scrollax.min.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>*@
    <script src="../../Scripts/google-map.js"></script>
    <script src="../../Scripts/main.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1qrSLFYZw2UPdV_2j56FDokfzxKB3Tmc&libraries=places"></script>
    <script src="../../Scripts/jquery.geocomplete.js"></script>
    <script src="../../Scripts/DataTables/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        $("#search_place").geocomplete();
        $("#accom_destination").geocomplete();
        $("#origin_place").geocomplete();
        $('.datepicker').datepicker({
            dateFormat: 'YYYY-MM-dd'
        });

    </script>

</body>
</html>



@*<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Traveller's</title>

        <!-- Bootstrap core CSS -->
        <link href="../../Content/bootstrap.css" rel="stylesheet">

        <!-- Add custom CSS here -->
        <link href="../../Content/TravellerCss/style.css" rel="stylesheet">
        <link href="../../font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href="../../Content/plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        <!-- Side Menu -->
        <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle">
                        <i class="fa fa-times"></i>
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a href="#">Traveller's</a>
                    <hr>
                </li>
                <li>
                    <a href="#top">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#services">Services</a>
                </li>
                <li>
                    <a href="#places">Places</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
                <li>
                    <a href="#" id="login">Login</a>
                </li>
            </ul>
        </div>
        <!-- /Side Menu -->
        <!-- Full Page Image Header Area -->
        <div id="top" class="header">
            <div class="vert-text parallax">
                <h1 class="header-text">Travel the world</h1>
                <h3 class="header-text">
                    <em class="header-text">So we are here to guide you</em>
                </h3><br />
                <a href="#about" class="btn header-btn">Find Out More</a>
                <br />
                <a href="#about"><img src="~/Images/Travel/direction.png" class="space" alt="Direction"></a>
            </div>
        </div>
        <!-- /Full Page Image Header Area -->
        <!-- Intro -->
        <div id="about">
            <div class="light-wrapper">
                <div class="container inner">
                    <div class="row">
                        <div class="text-center">
                            <h2 class="main-title">Reservation</h2>
                            <hr>
                        </div>
                        <div class="divide50"></div>
                        <div class="col-sm-4">
                            <h2>Booking</h2>
                            <br />

                            <table class="table table-responsive">
                                <tr>
                                    <td><label for="flight">Flight</label></td>
                                    <td><label for="accommodation">Accommodation</label></td>
                                </tr>
                                <tr>
                                    <td><input type="radio" id="flight" name="reservation" value="Flight" /></td>
                                    <td><input type="radio" id="accommodation" name="reservation" value="Accommodation" /></td>
                                </tr>
                            </table>
                            <div>
                                <label for="departure_date">Departure</label><br />
                                <input type="text" id="departure_date" class="form-control datepicker" placeholder="Departure" /><br />
                                <label for="arrival_date">Arrival</label><br />
                                <input type="text" id="arrival_date" class="form-control datepicker" placeholder="Arrival" /><br />
                                <div class="form-group" style="display: block">
                                    <label>Rooms</label><br />
                                    <input type="number" class="form-control" /><br />
                                    <table>
                                        <tr>
                                            <td>
                                                <label>Child</label>
                                            </td>
                                            <td><label>Adults</label></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="number" class="form-control" />
                                            </td>
                                            <td><input type="number" class="form-control" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <br/>
                                <input type="button" value="Check Availability" class="btn btn-light"/>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h4>Our Working Place</h4>
                            <p>Vestibulum ligut praesent commodo cursus magna, consectetur et. Cum socis natoque penatibus et magnis dis tellus parturient pharetra montes. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                        </div>
                    </div>
                    <div class="divide50"></div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Our Journeys</h4><hr>
                            <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. Etiam adipiscingmorbi vitae magna tellus.</p>
                            <div class="divide5"></div>
                            <ul class="progress-list">
                                <li>
                                    <p>Asia <em>90%</em></p>
                                    <div class="progress plain">
                                        <div class="bar" style="width: 90%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>Australia <em>80%</em></p>
                                    <div class="progress plain">
                                        <div class="bar" style="width: 80%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>America <em>85%</em></p>
                                    <div class="progress plain">
                                        <div class="bar" style="width: 85%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <p>Europe <em>50%</em></p>
                                    <div class="progress plain">
                                        <div class="bar" style="width: 50%;"></div>
                                    </div>
                                </li>
                            </ul>
                            <!-- /.progress-list -->
                        </div>
                        <!-- /.col -->

                        <div class="col-sm-4">
                            <h4>Why Choose Us?</h4><hr>
                            <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. </p>
                            <div class="divide10"></div>
                            <ol class="color">
                                <li>Donec ullamcorper nulla non metus auctor.</li>
                                <li>Cras justo odio, dapibus ac facilisis in egestas.</li>
                                <li>Praesent commodo cursus magna.</li>
                                <li>Curabitur blandit tempus porttitor.</li>
                                <li>Sed posuere consectetur est at lobortis.</li>
                                <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                            </ol>
                        </div>
                        <!-- /.col -->

                        <div class="col-sm-4">
                            <h4>Our Transports</h4><hr>
                            <div class="divide10"></div>
                            <div class="services-2">
                                <div class="icon"> <img src="~/Images/Travel/icon-web.png" data-src="style/images/icons/icon-web.png" data-ret="style/images/icons/icon-web@2x.png" class="retina" alt="" /> </div>
                                <!-- /.icon -->
                                <div class="text">
                                    <h5>Responsive Layout</h5>
                                    <p>Etiam porta malesuada magna.</p>
                                </div>
                                <!-- /.text -->
                                <div class="divide20"></div>
                                <div class="icon"> <img src="~/Images/Travel/icon-heart.png" data-src="style/images/icons/icon-heart.png" data-ret="style/images/icons/icon-heart@2x.png" class="retina" alt="" /> </div>
                                <!-- /.icon -->
                                <div class="text">
                                    <h5>Flat & Clean design</h5>
                                    <p>Etiam porta malesuada.</p>
                                </div>
                                <!-- /.text -->
                                <div class="divide20"></div>
                                <div class="icon"> <img src="~/Images/Travel/icon-print.png" data-src="style/images/icons/icon-print.png" data-ret="style/images/icons/icon-print@2x.png" class="retina" alt="" /> </div>
                                <!-- /.icon -->
                                <div class="text">
                                    <h5>Print Design</h5>
                                    <p>Etiam porta malesuada magna.</p>
                                </div>
                                <!-- /.text -->

                            </div>
                            <!-- /.services-2 -->

                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->
            </div>
            <!-- /.light-wrapper -->
        </div>
        <!-- /Intro -->
        <!-- Services -->
        <div id="services" class="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <h2 class="main-title">Our Services</h2>
                        <hr>
                    </div>
                </div>
                <div class="divide50"></div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="service-item">
                            <i class="service-icon fa fa-plane"></i>
                            <h4 class="service-title">Great Transport</h4>
                            <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="service-item">
                            <i class="service-icon fa fa-usd"></i>
                            <h4 class="service-title">Not Expensive</h4>
                            <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="service-item">
                            <i class="service-icon fa fa-cutlery"></i>
                            <h4 class="service-title">Delicious Food</h4>
                            <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="service-item">
                            <i class="service-icon fa fa-camera"></i>
                            <h4 class="service-title">Best Photographer's</h4>
                            <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Services -->
        <!-- Callout -->
        <div class="callout">
            <div class="vert-text">
                <h1 class="main-title parallax2">Your Travellers Guide</h1>
            </div>
        </div>
        <!-- /Callout -->
        <!-- Portfolio -->
        <div id="places" class="places">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <h2 class="main-title">Our visited place</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="divide50"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="grid center-block">
                            <ins class="bookingaff" data-aid="1831208" data-target_aid="1831208" data-prod="dfl2" data-width="100%" data-height="auto" data-lang="en" data-dest_id="-1217214" data-dest_type="city" data-df_num_properties="3">
                                <!-- Anything inside will go away once widget is loaded. -->
                                <a href="//www.booking.com?aid=1831208">Booking.com</a>
                            </ins>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="grid center-block">
                            <figure class="effect-zoe">
                                <img src="~/Images/Travel/sydney.jpg" alt="sydney" class="img-responsive center-block">
                                <figcaption>
                                    <h2>Sydney</h2>
                                    <p class="icon-links">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                        <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                    </p>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="grid center-block">
                            <figure class="effect-zoe">
                                <img src="~/Images/Travel/washington.jpg" alt="washington" class="img-responsive center-block">
                                <figcaption>
                                    <h2>Washington</h2>
                                    <p class="icon-links">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                        <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                    </p>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="grid center-block">
                            <figure class="effect-zoe">
                                <img src="~/Images/Travel/london.jpg" alt="london" class="img-responsive center-block">
                                <figcaption>
                                    <h2>London</h2>
                                    <p class="icon-links">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                        <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                    </p>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="grid center-block">
                            <figure class="effect-zoe">
                                <img src="~/Images/Travel/statue_of_liberty.jpg" alt="statue_of_liberty" class="img-responsive center-block">
                                <figcaption>
                                    <h2>U.S.A</h2>
                                    <p class="icon-links">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                        <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                    </p>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="grid center-block">
                            <figure class="effect-zoe">
                                <img src="~/Images/Travel/pizza_tower.jpg" alt="pizza_tower" class="img-responsive center-block">
                                <figcaption>
                                    <h2>Pizza Tower</h2>
                                    <p class="icon-links">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                        <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                    </p>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /Portfolio -->
        <!-- Call to Action -->
        @RenderBody()
        <!-- /Call to Action -->
        <!-- Contact Section -->
        <div id="contact" class="container parallax">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2 class="main-title">Contact us</h2>
                <hr>
                <div class="divide50"></div>
            </div>
            <!-- Contact Inner -->
            <div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <form id="contact-us" method="post" action="#">
                        <!-- Left Inputs -->
                        <div class="col-xs-6 col-xs-12 animated" data-animation="fadeInLeft" data-animation-delay="300">
                            <!-- Name -->
                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                            <!-- Email -->
                            <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                            <!-- Subject -->
                            <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                        </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        <div class="col-xs-6 col-xs-12 animated" data-animation="fadeInRight" data-animation-delay="400">
                            <!-- Message -->
                            <textarea name="message" id="message" class="form textarea" placeholder="Message"></textarea>
                        </div><!-- End Right Inputs -->
                        <!-- Bottom Submit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button>
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Thank You !</strong> Your email has been delivered.
                        </div>
                    </div>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->
        </div><!-- End Contact Section -->
        <!-- /Map -->
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-facebook"></i>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                            </li>
                            <li>
                                <i class="fa fa-dribbble"></i>
                            </li>
                            <li>
                                <i class="fa fa-pinterest"></i>
                            </li>
                        </ul>
                        <hr>
                        <p>Copyright &copy; <a href="https://themewagon.com/">Themewagon</a>  2014</p>
                        <div class="top-scroll">
                            <a href="#top"><i class="fa fa-arrow-circle-up scroll"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->
        <!-- JavaScript -->

        <script src="../../Scripts/jquery-1.10.2.js"></script>
        <script src="../../Content/plugins/jquery-datepicker/jquery-ui.js"></script>
        <script src="../../Scripts/bootstrap.js"></script>
        <script src="../../Scripts/jquery.parallax-1.1.3.js"></script>
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/js"></script>
        @RenderSection("scripts", false)
        <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
        <script>
            R ('.datepicker').datepicker({
                dateFormat: 'dd-mm-yy'
            });
            R ('.reservation').change(function() {
                var val = this.value;

                console.log(val);
            });
            R ("#menu-close").click(function (e) {
                e.preventDefault();
                R ("#sidebar-wrapper").toggleClass("active");
            });
        </script>
        <script>
            R ("#menu-toggle").click(function (e) {
                e.preventDefault();
                R ("#sidebar-wrapper").toggleClass("active");
            });</script>
        <script>
            R (function () {
                R ('a[href*=#]:not([href=#])').click(function () {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                        var target = R (this.hash);
                        target = target.length ? target : R ('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            R ('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });</script>

        <!-- modal -->

        <script>
            R ('.modal').on('shown.bs.modal', function () {
                var curModal = this;
                R ('.modal').each(function () {
                    if (this !== curModal) {
                        R (this).modal('hide');
                    }
                });
            });</script>

    </body>
    </html>*@